http_interactions:
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3568629/bpe19_ensemble_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="bpe19_ensemble_csv.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/bpe19_ensemble_csv.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3560121/filo-revenu-pauvrete-menage-2015.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="filo-revenu-pauvrete-menage-2015.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/filo-revenu-pauvrete-menage-2015.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3288151/BASE_TD_FILO_DEC_IRIS_2014.xls
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="BASE_TD_FILO_DEC_IRIS_2014.xls"
      content-type: application/vnd.ms-excel
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/BASE_TD_FILO_DEC_IRIS_2014.xls
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3202697/irsocee2016_loc_excel.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="irsocee2016_loc_excel.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/irsocee2016_loc_excel.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3363419/comsimp2018-txt.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="comsimp2018-txt.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/comsimp2018-txt.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/3720946/cog_ensemble_2019_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="cog_ensemble_2019_csv.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/cog_ensemble_2019_csv.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://www.insee.fr/fr/statistiques/fichier/2115011/AU2010_au_01-01-2020.zip
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="AU2010_au_01-01-2020.zip"
      content-type: application/zip
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/AU2010_au_01-01-2020.zip
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=AoIpMDA1NzczNTQ0LjAwNTc3MzU0NDAwMDM1>;
        rel="next"
      x-total-count: '29905326'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIRETQYqoXDjW.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=AoIpMDA1NzczNTQ0LjAwNTc3MzU0NDAwMDM1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=AoIpMDA2MDA0NjQyLjAwNjAwNDY0MjAwMDEw>;
        rel="next"
      x-total-count: '29905326'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIRET_WEjUZ4xi.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=AoIpMDA2MDA0NjQyLjAwNjAwNDY0MjAwMDEw
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret?date=2020-11-17&nombre=1000&tri=siren&curseur=AoIpMDA2MjcyNDYyLjAwNjI3MjQ2MjAwMDE4>;
        rel="next"
      x-total-count: '29905326'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIRET_vpn9DaMt.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link: <https://api.insee.fr/entreprises/sirene/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=0&debut=0>;
        rel="first"
      x-total-count: '351'
    body:
      encoding: UTF-8
      file: no
      string: '{"header":{"statut":200,"message":"OK","total":351,"debut":0,"nombre":0},"etablissements":[]}'
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=351&tri=siren
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=351&tri=siren&debut=0>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=351&tri=siren&debut=0>;
        rel="last"
      x-total-count: '351'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIRET2U5X2VSo.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA1NzcyMDgyKTAwNTc3MjA4Mg==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIRENQ6zuWdiw.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA1NzcyMDgyKTAwNTc3MjA4Mg%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2MDAxMTM1KTAwNjAwMTEzNQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_KtPvxVXI.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2MDAxMTM1KTAwNjAwMTEzNQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2MjEwMzE0KTAwNjIxMDMxNA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_JUzSynTr.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2MjEwMzE0KTAwNjIxMDMxNA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2NTEwOTI5KTAwNjUxMDkyOQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_9SxryOby.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2NTEwOTI5KTAwNjUxMDkyOQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2Nzc0MDYxKTAwNjc3NDA2MQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_ALEtGco5.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA2Nzc0MDYxKTAwNjc3NDA2MQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA3MDcxOTIxKTAwNzA3MTkyMQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_nsaCRGHh.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA3MDcxOTIxKTAwNzA3MTkyMQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA3MjgwMDY4KTAwNzI4MDA2OA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_5nvu2Zbb.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA3MjgwMDY4KTAwNzI4MDA2OA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA5NzE4ODI2KTAwOTcxODgyNg==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_HuHxWiJn.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDA5NzE4ODI2KTAwOTcxODgyNg%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDEyODYzMzA0KTAxMjg2MzMwNA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_ZMUmJ2co.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDEyODYzMzA0KTAxMjg2MzMwNA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDEzNzUyNDk4KTAxMzc1MjQ5OA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_n7Epde0I.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDEzNzUyNDk4KTAxMzc1MjQ5OA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE0NzMwODczKTAxNDczMDg3Mw==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_YkCQpWhk.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE0NzMwODczKTAxNDczMDg3Mw%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE1NzUwNTgxKTAxNTc1MDU4MQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_d2lP3WnU.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE1NzUwNTgxKTAxNTc1MDU4MQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE2MTQzNTQ3KTAxNjE0MzU0Nw==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_3mS8yqIX.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE2MTQzNTQ3KTAxNjE0MzU0Nw%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE2NjQzNDg4KTAxNjY0MzQ4OA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_QGgeFPij.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE2NjQzNDg4KTAxNjY0MzQ4OA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE3MDcwNDQyKTAxNzA3MDQ0Mg==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_5hVO18rd.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE3MDcwNDQyKTAxNzA3MDQ0Mg%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5NTYyNzg0KTAxOTU2Mjc4NA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_L0dzXXIM.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5NTYyNzg0KTAxOTU2Mjc4NA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5Nzg0NDA0KTAxOTc4NDQwNA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_lvEA5XUc.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5Nzg0NDA0KTAxOTc4NDQwNA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5ODI3Mjc4KTAxOTgyNzI3OA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_z7kpQ2z2.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5ODI3Mjc4KTAxOTgyNzI3OA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5OTA0MjAwKTAxOTkwNDIwMA==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_QpJZ0ikv.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDE5OTA0MjAwKTAxOTkwNDIwMA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDIxMDI1NTQ5KTAyMTAyNTU0OQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_wHLYGgZc.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDIxMDI1NTQ5KTAyMTAyNTU0OQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDIxNTIzNTc2KTAyMTUyMzU3Ng==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_lJFIobFr.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDIxNTIzNTc2KTAyMTUyMzU3Ng%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDI0MDUyMTg1KTAyNDA1MjE4NQ==>;
        rel="next"
      x-total-count: '21594740'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/data/SIRENE_SIREN_xhQUXP6K.json
  recorded_at: 2020-11-17 21:56:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/siren?nombre=1000&tri=siren&curseur=AoIpMDI0MDUyMTg1KTAyNDA1MjE4NQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer 349f8101-a1dc-3860-9fda-9fde861d7e27
[...]
