http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=0
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: a6c3a66e-1a8f-4ef8-83a6-6e1a8f3ef821
      x-quota-limit: '2000'
      x-quota-remaining: '1998'
      x-quota-reset: '1791014705209'
      x-rate-limit-limit: '30'
      x-rate-limit-remaining: '28'
      x-rate-limit-reset: '1791011165209'
      x-total-count: '359'
      link: <https://api.insee.fr/api-sirene/3.11/publique/siret?q=dateCreationUniteLegale%253A1983-03-04&nombre=0&debut=0>;
        rel="first"
      content-type: application/json;charset=utf-8
      x-gravitee-transaction-id: 2a6c555b-8867-4b06-ac55-5b88679b0659
      x-gravitee-request-id: 2a6c555b-8867-4b06-ac55-5b88679b0659
    body:
      string: '{"header":{"statut":200,"message":"OK","total":359,"debut":0,"nombre":0},"etablissements":[]}'
  recorded_at: 2026-10-03 07:05:06
- request:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret?q=dateCreationUniteLegale%3A1983-03-04&nombre=359
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?q=dateCreationUniteLegale%253A1983-03-04&nombre=359&debut=0>;
        rel="first"
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?q=dateCreationUniteLegale%253A1983-03-04&nombre=359&debut=0>;
        rel="last"
      x-gravitee-client-identifier: a6c3a66e-1a8f-4ef8-83a6-6e1a8f3ef821
      x-gravitee-request-id: 14563ca5-1a67-43bc-963c-a51a67a3bcdf
      x-gravitee-transaction-id: 14563ca5-1a67-43bc-963c-a51a67a3bcdf
      x-quota-limit: '2000'
      x-quota-remaining: '1998'
      x-quota-reset: '1791013158185'
      x-rate-limit-limit: '30'
      x-rate-limit-remaining: '29'
      x-rate-limit-reset: '1791011166436'
      x-total-count: '359'
    body:
      string: '{"header":{"statut":200,"message":"OK","total":359,"debut":0,"nombre":359},"etablissements":[{"siren":"328940069","nic":"00011","siret":"32894006900011","statutDiffusionEtablissement":"O","dateCreationEtablissement":"1983-03-04","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2024-03-30T14:31:27.658","etablissementSiege":true,"nombrePeriodesEtablissement":1,"activitePrincipaleNAF25Etablissement":null,"uniteLegale":{"etatAdministratifUniteLegale":"C","statutDiffusionUniteLegale":"O","unitePurgeeUniteLegale":true,"dateCreationUniteLegale":"1983-03-04","categorieJuridiqueUniteLegale":"1000","denominationUniteLegale":null,"sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":"F","nomUniteLegale":"FELDMANN","nomUsageUniteLegale":"KARMERE","prenom1UniteLegale":"M","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"M","pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"70.2A","nomenclatureActivitePrincipaleUniteLegale":"NAFRev1","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":null,"societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":"NN","anneeEffectifsUniteLegale":null,"nicSiegeUniteLegale":"00011","dateDernierTraitementUniteLegale":"2024-03-22T14:26:06.001","categorieEntreprise":null,"anneeCategorieEntreprise":null,"activitePrincipaleNAF25UniteLegale":null},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"451","indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"DE
        METZ","codePostalEtablissement":"57300","libelleCommuneEtablissement":"MONDELANGE","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"57474","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":"574740340_B","coordonneeLambertAbscisseEtablissement":"930701.2231865345","coordonneeLambertOrdonneeEtablissement":"6912178.040763888"},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"1995-08-01","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":null,"enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"70.2A","nomenclatureActivitePrincipaleEtablissement":"NAF1993","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false}]},{"siren":"328112164","nic":"00012","siret":"32811216400012","statutDiffusionEtablissement":"O","dateCreationEtablissement":"1983-03-04","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2024-03-30T11:56:00.732","etablissementSiege":true,"nombrePeriodesEtablissement":4,"activitePrincipaleNAF25Etablissement":null,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusi[...]
