http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret?date=2024-01-15&nombre=50
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?date=2024-01-15&nombre=50&debut=50>;
        rel="next"
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?date=2024-01-15&nombre=50&debut=0>;
        rel="first"
      x-gravitee-client-identifier: a6c3a66e-1a8f-4ef8-83a6-6e1a8f3ef821
      x-gravitee-request-id: 24ab75b6-bd07-48af-ab75-b6bd0778af63
      x-gravitee-transaction-id: 24ab75b6-bd07-48af-ab75-b6bd0778af63
      x-quota-limit: '2000'
      x-quota-remaining: '1999'
      x-quota-reset: '1791014705209'
      x-rate-limit-limit: '30'
      x-rate-limit-remaining: '29'
      x-rate-limit-reset: '1791011165209'
      x-total-count: '38450293'
    body:
      string: '{"header":{"statut":200,"message":"OK","total":38450293,"debut":0,"nombre":50},"etablissements":[{"siren":"217201870","nic":"00052","siret":"21720187000052","statutDiffusionEtablissement":"O","dateCreationEtablissement":"1994-01-01","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2024-03-29T23:36:58.815","etablissementSiege":false,"nombrePeriodesEtablissement":4,"activitePrincipaleNAF25Etablissement":null,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1983-03-01","categorieJuridiqueUniteLegale":"7210","denominationUniteLegale":"COMMUNE
        DE MARIGNE-LAILLE","sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":null,"nomUniteLegale":null,"nomUsageUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"84.11Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":"N","societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":"12","anneeEffectifsUniteLegale":"2024","nicSiegeUniteLegale":"00011","dateDernierTraitementUniteLegale":"2025-12-06T05:39:17.837","categorieEntreprise":"PME","anneeCategorieEntreprise":"2024","activitePrincipaleNAF25UniteLegale":"84.11Y"},"adresseEtablissement":{"complementAdresseEtablissement":"MAIRIE","numeroVoieEtablissement":null,"indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":null,"libelleVoieEtablissement":"LE
        BOURG","codePostalEtablissement":"72220","libelleCommuneEtablissement":"MARIGNE
        LAILLE","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"72187","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":"72187B076_C","coordonneeLambertAbscisseEtablissement":null,"coordonneeLambertOrdonneeEtablissement":null},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2018-03-23","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":"SERVICE
        ASSAINISSEMENT","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"37.00Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2018-03-22","dateDebut":"2008-01-01","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"SERVICE
        ASSAINISSEMENT","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"37.00Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changemen[...]
