http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret/liensSuccession?q=siretEtablissementPredecesseur%3A30070230500040+OR+siretEtablissementPredecesseur%3A30137492200120+OR+siretEtablissementPredecesseur%3A30082187300019&tri=successeur&nombre=0
  response:
    status: 200
    headers:
      x-gravitee-client-identifier: a6c3a66e-1a8f-4ef8-83a6-6e1a8f3ef821
      x-quota-limit: '2000'
      x-quota-remaining: '1990'
      x-quota-reset: '1791013158185'
      x-rate-limit-limit: '30'
      x-rate-limit-remaining: '28'
      x-rate-limit-reset: '1791011280716'
      x-total-count: '2'
      link: <https://api.insee.fr/api-sirene/3.11/publique/siret/liensSuccession?q=siretEtablissementPredecesseur%253A30070230500040%2520OR%2520siretEtablissementPredecesseur%253A30137492200120%2520OR%2520siretEtablissementPredecesseur%253A30082187300019&tri=successeur&nombre=0&debut=0>;
        rel="first"
      content-type: application/json;charset=utf-8
      x-gravitee-transaction-id: 873f1f4e-b09c-44ed-bf1f-4eb09c64ed08
      x-gravitee-request-id: 873f1f4e-b09c-44ed-bf1f-4eb09c64ed08
    body:
      string: '{"header":{"statut":200,"message":"OK","total":2,"debut":0,"nombre":0},"liensSuccession":[]}'
  recorded_at: 2026-10-03 07:07:28
[...]
