http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/api-sirene/3.11/siret?date=2024-01-15&nombre=50
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      link:
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?date=2024-01-15&nombre=50&debut=50>;
        rel="next"
      - <https://api.insee.fr/api-sirene/3.11/publique/siret?date=2024-01-15&nombre=50&debut=0>;
        rel="first"
      x-gravitee-client-identifier: a6c3a66e-1a8f-4ef8-83a6-6e1a8f3ef821
      x-gravitee-request-id: 018f8bcc-5081-4d1a-8f8b-cc50813d1a78
      x-gravitee-transaction-id: 018f8bcc-5081-4d1a-8f8b-cc50813d1a78
      x-quota-limit: '2000'
      x-quota-remaining: '1991'
      x-quota-reset: '1791013158185'
      x-rate-limit-limit: '30'
      x-rate-limit-remaining: '29'
      x-rate-limit-reset: '1791011280716'
      x-total-count: '38450293'
    body:
      string: '{"header":{"statut":200,"message":"OK","total":38450293,"debut":0,"nombre":50},"etablissements":[{"siren":"177904315","nic":"00344","siret":"17790431500344","statutDiffusionEtablissement":"O","dateCreationEtablissement":"2006-05-18","trancheEffectifsEtablissement":"11","anneeEffectifsEtablissement":"2024","activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2025-12-05T16:28:21.911","etablissementSiege":false,"nombrePeriodesEtablissement":2,"activitePrincipaleNAF25Etablissement":"84.12Y","uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1982-12-21","categorieJuridiqueUniteLegale":"7172","denominationUniteLegale":"DIRECTION
        DES SERVICES DEPARTEMENTAUX DE L EDUCATION NATIONALE DES DEUX SEVRES","sigleUniteLegale":"DSDEN","denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":null,"nomUniteLegale":null,"nomUsageUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"84.12Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":"N","societeMissionUniteLegale":null,"caractereEmployeurUniteLegale":null,"trancheEffectifsUniteLegale":"41","anneeEffectifsUniteLegale":"2024","nicSiegeUniteLegale":"00013","dateDernierTraitementUniteLegale":"2025-12-06T07:14:14.723","categorieEntreprise":"ETI","anneeCategorieEntreprise":"2024","activitePrincipaleNAF25UniteLegale":"84.12Y"},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"7","indiceRepetitionEtablissement":null,"dernierNumeroVoieEtablissement":null,"indiceRepetitionDernierNumeroVoieEtablissement":null,"typeVoieEtablissement":"RUE","libelleVoieEtablissement":"ANNE
        DERAYS","codePostalEtablissement":"79100","libelleCommuneEtablissement":"THOUARS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"79329","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null,"identifiantAdresseEtablissement":null,"coordonneeLambertAbscisseEtablissement":null,"coordonneeLambertOrdonneeEtablissement":null},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2008-01-01","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"ANTENNE
        CENTRE D''INFORMATION ET D''ORIENTATION","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":true,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"84.12Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":true,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2007-12-31","dateDebut":"2006-05-18","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":"CTRE
        D''INFORMATION ET D''ORIENTATION","enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"75.1C","nomenclatureActivitePrincipaleEtablissement":"NAFRe[...]
